 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 601px;
  height: 167px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 344px auto 0;
}

.u-section-1 .u-list-1 {
  width: 188px;
  margin: -24px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 56px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  width: 188px;
  margin-right: auto;
  margin-left: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  height: auto;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  height: auto;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  height: auto;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 12.6667px) calc(33.3333% - 12.6667px) calc(33.3333% - 12.6667px);
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
  }

  .u-section-1 .u-image-4 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 291px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 188px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 150px;
  }

  .u-section-1 .u-list-1 {
    width: 270px;
    margin-top: -19px;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 0px 0px;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 94px;
    margin-top: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 22px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 198px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 1px;
  }
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-2 .u-text-1 {
  font-family: Anton;
  font-weight: 700;
  font-size: 6rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 39px auto 0;
}

.u-section-2 .u-tabs-1 {
  min-height: 760px;
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Anton;
  font-weight: normal;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Anton;
  font-weight: normal;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  text-transform: uppercase;
  font-family: Anton;
  font-size: 1.25rem;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Anton;
  font-weight: normal;
  padding: 10px 25px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-gallery-1 {
  height: 629px;
  width: 1099px;
  margin: 31px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-gap: 78px 78px;
  grid-template-columns: auto auto auto auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-2 .u-back-image-8 {
  object-position: 50% 30.82%;
}

.u-section-2 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-2 .u-back-image-9 {
  object-position: 50% 20.53%;
}

.u-section-2 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1064px;
  margin: 25px auto 0;
}

.u-section-2 .u-video-1 {
  min-height: 357px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-video-poster-1 {
  width: 56%;
  left: 56%;
  height: 56%;
  top: 56%;
  background-image: url("images/DPHCOVER.png");
  background-position: 50% 46.65%;
}

.u-section-2 .u-video-2 {
  min-height: 272px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-video-poster-2 {
  width: 56%;
  left: 56%;
  height: 56%;
  top: 56%;
  background-image: url("images/DZ.png");
}

.u-section-2 .u-video-3 {
  min-height: 272px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-gallery-2 {
  height: 648px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-gallery-inner-2 {
  grid-template-columns: auto auto auto auto auto;
}

.u-section-2 .u-gallery-item-11 {
  margin-right: 0;
}

.u-section-2 .u-back-image-11 {
  width: 267px;
}

.u-section-2 .embed-responsive-4 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-12 {
  margin-right: 0;
}

.u-section-2 .u-back-image-12 {
  width: 267px;
}

.u-section-2 .embed-responsive-5 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-13 {
  margin-right: 0;
}

.u-section-2 .u-back-image-13 {
  width: 267px;
}

.u-section-2 .embed-responsive-6 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-2 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-14 {
  margin-right: 0;
}

.u-section-2 .u-back-image-14 {
  width: 267px;
}

.u-section-2 .embed-responsive-7 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-2 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-15 {
  margin-right: 0;
}

.u-section-2 .u-back-image-15 {
  width: 267px;
}

.u-section-2 .embed-responsive-8 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-2 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-16 {
  margin-right: 0;
}

.u-section-2 .u-back-image-16 {
  width: 267px;
}

.u-section-2 .embed-responsive-9 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-2 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-17 {
  margin-right: 0;
}

.u-section-2 .u-back-image-17 {
  width: 267px;
}

.u-section-2 .embed-responsive-10 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-2 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-18 {
  margin-right: 0;
}

.u-section-2 .u-back-image-18 {
  width: 267px;
}

.u-section-2 .embed-responsive-11 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-2 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-19 {
  margin-right: 0;
}

.u-section-2 .u-back-image-19 {
  width: 267px;
}

.u-section-2 .embed-responsive-12 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-2 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-20 {
  margin-right: 0;
}

.u-section-2 .u-back-image-20 {
  width: 267px;
}

.u-section-2 .embed-responsive-13 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-2 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-tab-pane-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 249px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    height: auto;
  }

  .u-section-2 .u-gallery-1 {
    width: 940px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 85px;
    height: 85px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 85px;
    height: 85px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 85px;
    height: 85px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 85px;
    height: 85px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 85px;
    height: 85px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 85px;
    height: 85px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 85px;
    height: 85px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 85px;
    height: 85px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 85px;
    height: 85px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 85px;
    height: 85px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 880px;
  }

  .u-section-2 .u-video-poster-1 {
    width: auto;
    height: auto;
  }

  .u-section-2 .u-video-poster-2 {
    width: auto;
    height: auto;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-gap: 10px 10px;
    grid-template-columns: repeat(5, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 1015px;
  }

  .u-section-2 .u-tabs-1 {
    margin-top: -978px;
  }

  .u-section-2 .u-gallery-1 {
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 65px;
    height: 65px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 65px;
    height: 65px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 65px;
    height: 65px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 65px;
    height: 65px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 65px;
    height: 65px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 65px;
    height: 65px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 65px;
    height: 65px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 65px;
    height: 65px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 65px;
    height: 65px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 65px;
    height: 65px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 660px;
  }

  .u-section-2 .u-video-poster-1 {
    width: 56%;
    left: 56%;
    height: 56%;
    top: 56%;
  }

  .u-section-2 .u-video-poster-2 {
    width: 56%;
    left: 56%;
    height: 56%;
    top: 56%;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 1227px;
  }

  .u-section-2 .u-tabs-1 {
    margin-top: -1151px;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 49px;
    height: 49px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 49px;
    height: 49px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 49px;
    height: 49px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 49px;
    height: 49px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 49px;
    height: 49px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 49px;
    height: 49px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 49px;
    height: 49px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 49px;
    height: 49px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 49px;
    height: 49px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 49px;
    height: 49px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 520px;
  }

  .u-section-2 .u-video-poster-1 {
    width: auto;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-video-poster-2 {
    width: auto;
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 507px;
  }

  .u-section-2 .u-tabs-1 {
    margin-top: -417px;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 31px;
    height: 31px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 31px;
    height: 31px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 31px;
    height: 31px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 31px;
    height: 31px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 31px;
    height: 31px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 31px;
    height: 31px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 31px;
    height: 31px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 31px;
    height: 31px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 31px;
    height: 31px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 31px;
    height: 31px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 320px;
  }

  .u-section-2 .u-video-poster-1 {
    width: 56%;
    left: 56%;
    height: 56%;
    top: 56%;
  }

  .u-section-2 .u-video-poster-2 {
    width: 56%;
    left: 56%;
    height: 56%;
    top: 56%;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
} .u-section-3 {
  background-image: url("images/DSC004370.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 211px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 162px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-family: Anton;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 73px auto 0;
}

.u-section-4 .u-image-1 {
  width: 533px;
  height: 666px;
  --animation-custom_in-scale: 1;
  margin: 32px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-family: Anton;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -269px auto 0 408px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-family: Anton;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -116px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  font-family: Anton;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 33px 385px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    margin-top: 57px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 336px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 102px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 257px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 47px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 193px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 975px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 425px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -28px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 115px;
  }
} .u-section-5 {
  background-image: url("images/DSC02723.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 211px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 758px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-family: Anton;
  font-size: 6rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 102px auto 0;
}

.u-section-6 .u-list-1 {
  width: 188px;
  margin: 0 auto;
}

.u-section-6 .u-repeater-1 {
  min-height: 63px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  width: 188px;
  margin-right: auto;
  margin-left: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-image-1 {
  height: auto;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-image-2 {
  height: auto;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-image-3 {
  height: auto;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-6 .u-form-1 {
  height: 313px;
  width: 710px;
  margin: 17px auto 0;
}

.u-section-6 .u-input-1 {
  font-family: Yantramanav;
}

.u-section-6 .u-input-2 {
  font-family: Yantramanav;
}

.u-section-6 .u-input-3 {
  font-family: Yantramanav;
}

.u-section-6 .u-btn-2 {
  background-image: none;
}

.u-section-6 .u-text-2 {
  font-size: 0.625rem;
  margin: 63px auto 36px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    height: NaNpx;
  }

  .u-section-6 .u-image-2 {
    height: NaNpx;
  }

  .u-section-6 .u-image-3 {
    height: NaNpx;
  }

  .u-section-6 .u-btn-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    min-height: 189px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-form-1 {
    width: 340px;
  }
}

.u-section-6 .u-image-1,
.u-section-6 .u-image-1:before,
.u-section-6 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-2,
.u-section-6 .u-image-2:before,
.u-section-6 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-3,
.u-section-6 .u-image-3:before,
.u-section-6 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-btn-1,
.u-section-6 .u-btn-1:before,
.u-section-6 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}